<html lang='ru'>
<head>
	<title>vk.com friends recommender</title>
</head>
<body>
    <H1>Сервис рекомендаций друзей для vk.com</H1>
    <form action=''>
        <input name='vk_id' placeholder='vk_id'></input>
        <input type='submit' value='получить рекомендации'></input>
    </form>
    {% if vk_id %}
        <h2>Рекомендации друзей для id {{ vk_id }} </h2>
        <table border="1">
            <thead>
                <th>id пользоватля</th>
                <th>ссылка на страницу</th>
                <th>фото</th>
                <th>имя</th>
                <th>score</th>
            </thead>
            {% for item in items %}
                <tr>
                    <td>{{item.id}}</td>
                    <td><a href="{{item.url}}">{{item.url}}</a></td>
                    <td><img src="{{item.photo}}"</td>
                    <td>{{item.name}}</td>
                    <td>{{item.score}}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</body>
